.card-container {
  // padding: 12px;
  .img-container {
    width: 300px;
    height: 300px;
  }
  .container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 12px;
    .content {
      display: flex;
      flex-direction: column;
      max-width: 200px;
      .text,
      .sub-text {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-weight: bold;
        font-size: 14px;
      }
    }
    .action {
      button {
        background: #35af35;
        padding: 8px 10px;
        border-radius: 4px;
        border: none;
        color: #fff;
        width: 100%;
        text-transform: uppercase;
      }
    }
  }
}
